.button {
    border: none;
    background-color: var(--color-primary);
    color: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition-fast);
    margin: 32px 0;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
}

.button:hover {
    background-color: var(--color-primary-dark);
    transform: scale(1.05);
}