.team {
    text-align: center;
    width: 100%;
    padding: 35px;
    background-color: #F0F0F0;
}

.team h3 {
    display: inline-block;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-3xl);
    border-bottom: 4px solid;
    padding-bottom: 8px;
}

.team .collaborators {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
