.select-input {
    margin-bottom: 1rem;
}

.select-input label {
    display: block;
    margin-bottom: 0.5rem;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-lg);
}

.select-input select {
    padding: 20px;
    background: #FFF;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
}

.select-input select:focus {
    outline: none;
}

/* Estilo para quando o placeholder está selecionado */
.select-input select.placeholder-selected {
    color: var(--color-quaternary);
}

.select-input select option {
    color: #000;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
}

.select-input select option.placeholder {
    color: var(--color-quaternary);
}

@media (max-width: 768px) {
    .select-input select {
        padding: 0.75rem;
        font-size: var(--font-size-sm);
    }
    .select-input label {
        font-size: var(--font-size-base);
    }
    .select-input select option {
        font-size: var(--font-size-sm);
    }
}